.dart_tool/
.idea/
build/

.flutter-plugins
.flutter-plugins-dependencies
.packages

android/.gradle/

ios/Pods/

*.log

# Ignore large PDFs to prevent GitHub push errors
FFQ/FFQ picture book.pdf
.env

lib/firebase_options.dart

# Vercel project configurations
.vercel/
lib/secrets.dart