.dart_tool/
.idea/
build/

.flutter-plugins
.flutter-plugins-dependencies
.packages

android/.gradle/

ios/Pods/

*.log

# Ignore large PDFs to prevent GitHub push errors
FFQ/FFQ picture book.pdf
.env

# Firebase credentials
lib/firebase_options.dart
